<?xml version="1.0" encoding="utf-8"?>
 <configuration>
   <system.webServer>
-    <modules runAllManagedModulesForAllRequests="false" />
-    <rewrite>
-      <rules>
-        <clear />
-        <rule name="RewriteToPublic" enabled="true" patternSyntax="ECMAScript" stopProcessing="true">
-          <match url="(.*)"/>
-          <action type="Rewrite" url="public/{R:1}" />
-        </rule>
-      </rules>
-    </rewrite>
-  </system.webServer>
+      <rewrite>
+        <rules>
+          <rule name="RewriteRequestsToPublic">
+            <match url="^(.*)$" />
+            <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
+            </conditions>
+            <action type="Rewrite" url="public/{R:0}" />
+          </rule>
+          <rule name="Imported Rule 1" stopProcessing="true">
+            <match url="^(.*)$" ignoreCase="false" />
+            <conditions logicalGrouping="MatchAll">
+              <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
+              <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
+            </conditions>
+            <action type="Rewrite" url="public/index.php/{R:1}" appendQueryString="true" />
+          </rule>
+        </rules>
+      </rewrite>
+    </system.webServer>
 </configuration>